<nav>
	<div class="navBar"><a class="navLink" href="/">Home</a></div>
	<div class="divider"></div>
	<div class="navBar"><a class="navLink" href="/perseverance">Perseverance</a></div>
	<div class="divider"></div>
	<div class="navBar"><a class="navLink" href="/curiosity">Curiosity</a></div>
	<div class="divider"></div>
	<div class="navBar"><a class="navLink" href="/spirit">Spirit</a></div>
	<div class="divider"></div>
	<div class="navBar"><a class="navLink" href="/opportunity">Opportunity</a></div>
</nav>