<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width">
	  <title> HW3 : Express App </title>
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<%- include('partials/nav.ejs') %>
		
		<div class="title">
			<h3>Home</h3>
		</div>
		<div class="main">
			<p class="text">Touching bases with Mars and studying its geographical features first hand has been an aspiring goal for many scientists ever since we began to look at the stars. In July of 1997, NASA landed the Sojourner rover which gave us the next best thing, a second hand view from a camera lens. Ever since then, NASA has slowly perfected rover designs allowing for more analysis, longer lasting missions, and most importantly, more pictures of the Red planet.</p>
			<p class="text">This application takes advantage of the official Mars Rover Photos API provided by NASA at their <a class="textLink" href="https://api.nasa.gov/">{ NASA APIs }</a> website. Navigate to one of the four rovers following Sojourner by clicking its name at the top of the page. You can then choose a sol and a specific camera available from the rover and view a random image from the rovers collection of photos for the given sol. Keep in mind that a martian sol is the planets equivalent of a day, and starts at sol 0 for when the rover landed on the planet.</p>
			
		</div>
		
		
	</body>
</html>